<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Buscar por Capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar capital..."
        >
      </app-pais-input>
    </div>
  </div>

  @if (mostrarSugerencias) {
    <ul class="list-group">
      @for (pais of paisesSugeridos; track pais) {
        <li
          class="list-group-item list-group-item-action"
          >
          <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">
            {{ pais.capital }}
          </a>
        </li>
      }
      <li
        class="list-group-item list-group-item-action"
        (click)="buscarSugerido(termino)"
        >
        <a class="nav-link"> Buscar "{{ termino }}" </a>
      </li>
    </ul>
  }

  <hr />
</div>

@if (hayError) {
  <div class="alert alert-danger">
    No se encontró nada con el término "{{ termino }}"
  </div>
}

@if (paises.length > 0) {
  <div class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
}
