<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index" 
        class="animate__animated animate__fadeIn animate__faster">
            <th> {{ i + 1 }} </th>
            <th> 
                <img class="small-flag" [src]="pais.flag"/>
            </th>
            <th> {{pais.name}}, {{pais.capital}} </th>
            <th> {{pais.population | number}} </th>
            <th> 
                <a [routerLink]="[ '/pais', pais.alpha2Code ]"> Ver... </a>
            </th>
        </tr>
    </tbody>
</table>