<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre -- Capital</th>
      <th>Población</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (pais of paises; track pais; let i = $index) {
      <tr
        class="animate__animated animate__fadeIn animate__faster"
        >
        <th>{{ i + 1 }}</th>
        <th>
          <img class="small-flag" [src]="pais.flags.svg" [alt]="'Bandera de ' + pais.name" />
        </th>
        <th>{{ pais.name }} -- {{ pais.capital }}</th>
        <th>{{ pais.population | number }} Habitantes.</th>
        <th>
          <a [routerLink]="['/pais', pais.alpha2Code]"> Ver... </a>
        </th>
      </tr>
    }
  </tbody>
</table>
